<h1>add user</h1>
<%= form_with(model: @user, local: true, class: 'ui form' do |f| %)>
<div>
    <%= f.label :first_name %>
f.label :first_name, required: true, autofocus: true, placeholder: 'first name' %>


<%= f.label :first_name %>
f.label :first_name, required: true, autofocus: true, placeholder: 'first name' %>


</div>