<nav>
    <ul>
        <li>
            <%= link_to 'Courses', courses_path %>

        </li>
        <%= link_to 'Add a Courses', new_course_path %>
        <li>

        </li>
        <%= link_to 'Users', users_path %>
        <li>

        </li>
        <%= link_to 'Add a User', new_user_path %>
        <li>

        </li>
    </ul>
</nav>